.DS_Store
*.sql

# Local configs
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml

# Don't include archive files.
*.tar.gz
*.zip

# Editor Specific
.vscode/

# Local package directories
node_modules/
vendor/
